.ruckus-border-radius   {
  -webkit-border-radius: $ruckus-border-radius;
  border-radius: $ruckus-border-radius;
}
// list of chevron pointers

.ruckus-option {
  .button {
    margin-bottom: 0px;
  }
}
.button {
  @extend .button !optional;
  @extend .ruckus-border-radius;
  @extend .width-100;
  background-color: transparent;
  border: solid 1px #FFF;
  white-space: nowrap;
  @include respond-to(small-only) {
    font-size: 3.5vw;
  }
  @include respond-to(medium-only) {
    font-size: 1.36vw;
  }
  &:hover, {
    color: $ruckus-orange !important;
    border-color: $ruckus-orange !important;
    &.no-hover {
      background-color: transparent !important;
      border-color: #fff !important;
      color: #fff !important;
      cursor: default !important;
    }
  }

  &.alt:hover, {
    background-color: #fff !important;
    border-color: #fff !important;
    color: black !important;
  }

  &.round-icon {
    margin: 0 auto;
    height: 60px !important;
    width: 60px !important;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    border-width: 2px;
    padding: 0px;
    &.subtle {
      border-color: $ruckus-grey;
      color: $ruckus-grey;
    }
    @extend .table-center-container;
    &:before {
      font-size: rem-calc(20);
      height: 100%; width: 100%;
      @extend .table-center-cell;
      text-align: center;
    }
    @include fa-icon();
    &.chevron-down:before {content:"\f078"}
    &.chevron-left:before {content:"\f053"; text-indent:-6px;}
    &.chevron-right:before {content:"\f054"; text-indent: 6px;}
    &.chevron-up:before {content:"\f077"}
  }
}

.image {
  display: block;
  width: 100%;
  height: 90px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -90px;
  margin-bottom: 20px;
  &#wi-fi {
    background-image: url("../images/stage3-wifi.png");
  }
  &#pos {
    background-image: url("../images/stage3-card.png");
  }
  &#employee {
    background-image: url("../images/stage3-graph.png");
  }
}

.toggled {
  .image {
    background-position-y: 0px;
  }
  .button {
    color: $ruckus-orange !important;
    border-color: $ruckus-orange !important;

    &.alt {
      background-color: $ruckus-orange !important;
      border-color: $ruckus-orange !important;
      color: white !important;
    }
  }
}

.st-open {
  .button {
    color: $ruckus-orange !important;
    border-color: $ruckus-orange !important;

    &.alt {
      background-color: $ruckus-orange !important;
      border-color: $ruckus-orange !important;
      color: white !important;
    }
  }
}

.nav-wrapper {
  width: 125px;
  @extend .margin-center;
}

#hub-link {
  width: 180px;
  height: auto;
  min-height: 180px;
  background-color: $ruckus-blue;
  z-index: 50;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -90px;
  .button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.link-to-guide {
  width: 280px;
  background-color: $ruckus-orange;
  height: auto;
  position: absolute;
  right: 0px;
  top: 40%;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}