.header {
  position: fixed;
  z-index: 50;
  background: $ruckus-black;
}

.logo {
  height: 40px;
  @include respond-to(small-only) {
    padding-left: 20px;
  }
}

.hub-header {
  @include respond-to(medium-up){
    position: relative;
    top: 100px;
  }
  padding: 0px 10px;
  margin: 0px;
}
