figure {
  // reset padding/margin
  padding: 0px;
  margin: 0px;
}
// Center text  on all figcaptions in entry-point 3
#entry-3 {
  figcaption {
    text-align: center;
  }
}

.mobile-with-text {
  position: relative;
  margin: 0 auto;
  width: 225px;
  figcaption {
    position: absolute;
    top: 50px;
    left: 15%;
    width: 70%;
  }
}