// navigation styles

.navigation {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-bottom: 30px;
  bottom: -100px;
  opacity: 0;
}

#appendix {
  h2 {
    @extend .ruckus-orange;
  }
  p {
    white-space: normal;
    word-break: break-all;
    @extend .ruckus-orange;
  }
}
#ruckus-logo {
  .cta-ruckus-nav {
    position: relative;
    display: none;
    ul {
      li {
        padding: 0px 7px;
        position: absolute;
        display: block;
        color: $ruckus-white;
        top: 0px;
        height: 25px;
        opacity:0;
        @for $i from 4 through 1 {
          &:nth-child(#{$i}) {
            -webkit-transition: all #{0.5/$i}s ease-in;
            -moz-transition: all #{0.5/$i}s ease-in;
            -ms-transition: all #{0.5/$i}s ease-in;
            -o-transition: all #{0.5/$i}s ease-in;
            transition: all #{0.5/$i}s ease-in;
          }
        }
        a {
          -webkit-transition: all 0.12s ease-in;
          -moz-transition: all 0.12s ease-in;
          -ms-transition: all 0.12s ease-in;
          -o-transition: all 0.12s ease-in;
          transition: all 0.12s ease-in;
          white-space: nowrap;
          i {
            margin-right: 10px;
          }
          &:hover {
            color: $ruckus-orange;
            padding-left: 7px;
          }
        }
      }
    }
  }
  &:hover {
    cursor: pointer;
    .cta-ruckus-nav {
      display: block;
      ul {
        li {
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              -webkit-transition: all #{0.09*$i}s ease-in;
              -moz-transition: all #{0.09*$i}s ease-in;
              -ms-transition: all #{0.09*$i}s ease-in;
              -o-transition: all #{0.09*$i}s ease-in;
              transition: all #{0.09*$i}s ease-in;
              top: #{($i - 1)*25}px;
              opacity: 1;
              //padding-left: 6px;
            }
          }
        }
      }
    }
  }
}

#scrollTo-initial,
#scrollTo-2,
#scrollTo-3,
#scrollTo-4,
#scrollTo-5,
#scrollTo-6,
#scrollTo-7,
#scrollTo-8 {
}