// navigation styles

.navigation {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-bottom: 30px;
  bottom: -100px;
  opacity: 0;
}

#appendix {
  h2 {
    @extend .ruckus-orange;
  }
  p {
    white-space: normal;
    word-break: break-all;
    @extend .ruckus-orange;
  }
}
#ruckus-logo {
  display: inline-block;
  .cta-ruckus-nav {
    position: relative;
    display: none;
    ul {
      padding-left: 20px;
      display: inline-block;
      li {
        display: inline-block;
        a {
          display: block;
          i {
            padding:10px 20px 10px 0px;
          }
          &:hover {
            color: $ruckus-orange;
          }
        }
      }
    }
  }
  &:hover {
    cursor: pointer;
    .cta-ruckus-nav {
      display: block;
      ul {
        li {

        }
      }
    }
  }
}