.ruckus-slick {
  @include respond-to(medium-up) {
    margin-top: 100px;
  }
}

.ruckus-slick-prev {
  position: absolute;
  bottom: 40%;
  left: -80px;
  display:none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.ruckus-slick-next {
  position: absolute;
  bottom: 40%;
  right: -80px;
  display: none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.slick-slide img {
  padding: 10px;
}

.slick-dots {
  li {
    button {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      overflow: hidden;

      &:before {
        color: transparent !important;
        background-color: $ruckus-orange;
      }
    }
  }
}
