.ruckus-slick {
  @include respond-to(medium-up) {
    margin-top: 100px;
  }
}

.ruckus-slick-prev {
  position: absolute;
  bottom: 40%;
  left: -80px;
  display:none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.ruckus-slick-next {
  position: absolute;
  bottom: 40%;
  right: -80px;
  display: none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.slick-slide {
  &.slick-active {
    &:first-child {
      background-color: pink;
      img {
        padding-left: 0px !important;
      }
    }
    &:last-child {
      img {
        padding-right: 0px !important;
      }
    }
  }
  img {
    padding: 10px;
  }
}

.slick-dots {
  li {
    button {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      overflow: hidden;

      &:before {
        color: transparent !important;
        background-color: $ruckus-orange;
      }
    }
  }
}

.speech-bubble-tail {
  position: relative;
  background-color: black;
  margin: 0px 9px;

  .arrow-down {
    position: relative;
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    margin-right: -10px;
    background: $ruckus-orange;
  }
}