.ruckus-slick {
  @include respond-to(medium-up) {
    margin-top: 100px;
  }
}

.slick-dots {
  display: none !important;
}
.ruckus-slick-prev {
  position: absolute;
  bottom: 40%;
  left: -80px;
  display:none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.ruckus-slick-next {
  position: absolute;
  bottom: 40%;
  right: -80px;
  display: none !important;
  @include respond-to(large-up){
    display: block !important;
  }
}

.slick-slide img {
  padding: 10px;
}
