.social-media-links {
  ul {
    width: 165px;
    height: 40px;
    list-style-type: none !important;
    padding-right: 5px;
    li {
      display: table;
      width: 40px;
      height: 40px;
      float: left;
      border: solid 1px white;
      margin: 0px 0px 0px 10px;
      -webkit-transition: all 0.12s ease-in;
      -moz-transition: all 0.12s ease-in;
      -ms-transition: all 0.12s ease-in;
      -o-transition: all 0.12s ease-in;
      transition: all 0.12s ease-in;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        i {
          color: white;
        }
      }
      &:hover {
        border-color: $ruckus-orange;
        background-color: $ruckus-orange;
      }
    }
  }
}