.ruckus-tile {
  -webkit-transition: opacity 0.22s ease-in;
  -moz-transition: opacity 0.22s ease-in;
  -ms-transition: opacity 0.22s ease-in;
  -o-transition: opacity 0.22s ease-in;
  transition: opacity 0.22s ease-in;
  @include respond-to(medium-up){
    min-height: 75% !important;
  }
   @include respond-to(large-up){
     min-height: 75% !important;
   }
}