
@include responsive_property(h0){
  font-size:  4.75rem !important;
}
@include responsive_property(h1){
  font-size: $h1-font-size !important;
}
@include responsive_property(h2){
  font-size: $h2-font-size !important;
}
@include responsive_property(h3){
  font-size: $h3-font-size !important;
}

@include responsive_property(h3_5){
  font-size:$h3_5-font-size !important;
}

@include responsive_property(h4){
  font-size: $h4-font-size !important;
}

@include responsive_property(h4_5){
  font-size: $h4_5-font-size !important;
}

@include responsive_property(h5){
  font-size: $h5-font-size !important;
}
@include responsive_property(text-left){
  text-align: left !important;
}
@include responsive_property(text-center){
  text-align: center !important;
}
@include responsive_property(text-right){
  text-align: right !important;
}

@include responsive_property(h6){
  font-size: $h6-font-size !important;
}

.line-height-h1{line-height: $h0-font-size !important;}
.line-height-h1{line-height: $h1-font-size !important;}
.line-height-h2{line-height: $h2-font-size !important;}
.line-height-h3{line-height: $h3-font-size !important;}
.line-height-h4{line-height: $h4-font-size !important;}
.line-height-h5{line-height: $h5-font-size !important;}
.line-height-h6{line-height: $h6-font-size !important;}

.text-bold {
  font-weight: $font-weight-bold !important;
}
.text-underline {
  text-decoration: underline;
}
@include responsive_property(font-scale-x2) {
  font-size: 2em !important;
}
@include responsive_property(font-scale-x1-5) {
  font-size: 1.5em !important;
}