.row {
  &.full-screen {
    max-width: 100% !important;
//    @include respond-to(medium-up) {
//      padding-top: 50px;
//      min-height: 100vh;
//    }
    //padding-left: 250px;
    // padding-right: 250px;
    //.large-12 {
     // @include respond-to(xlarge-up) {
       // padding-left: $column-gutter*3;
        //padding-right: $column-gutter*3;
      //}
    //}

      > .large-12 > .row {
        padding-left: 10%;
        padding-right: 10%;
      }

  }
}