.tile {
  position: relative;
  .tile_overlay, .tile_background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .tile_overlay {
    z-index: -1;
    background-color: rgba(#000, 0.6);
  }
  .tile_background {
    z-index: -2;
    background-size: cover;
  }

  // background images
  &#stage_1-1, &#stage_1-2 {
    .tile_background {
      background-image: url("/ruckus/images/background-1.jpg");
    }
  }
  &#stage_2, &#stage_3 {
    .tile_background {
      background-image: url("/ruckus/images/background-2.jpg") !important;
    }
  }
}

#options-1, #options-2 {
  display: block;
  width: 100%;
  height: 100px;
}

#options-1 {

  #small {
    background-image: url("../images/small.png");
  }
  #medium {
    background-image: url("../images/small.png");
  }
  #large {
    background-image: url("../images/small.png");
  }
}
#options-2 {

  #wifi {
    background-image: url("../images/stage3-wifi.png");
  }
  #pos {
    background-image: url("../images/stage3-card.png");
  }
  #employee {
    background-image: url("../images/stage3-graph.png");
  }
}