.ruckus-border-radius   {
  -webkit-border-radius: $ruckus-border-radius;
  border-radius: $ruckus-border-radius;
}
// list of chevron pointers

.ruckus-option {
  .button {
    margin-bottom: 0px;
  }
}
.button {
  @extend .button !optional;
  @extend .ruckus-border-radius;
  @extend .width-100;

  border: solid 1px #FFF;
  white-space: nowrap;
  @include respond-to(small-only) {
    font-size: 3.5vw;
  }
  &:hover, {
    color: $ruckus-orange !important;
    border-color: $ruckus-orange !important;
  }

  &.alt:hover, {
    background-color: #fff !important;
    border-color: #fff !important;
    color: black !important;
  }

  &.round-icon {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    border-width: 2px;
    padding: 0px;
    &.subtle {
      border-color: $ruckus-grey;
      color: $ruckus-grey;
    }
    @extend .table-center-container;
    &:before {
      font-size: rem-calc(20);
      height: 100%; width: 100%;
      @extend .table-center-cell;
      text-align: center;
    }
    @include fa-icon();
    &.chevron-down:before {content:"\f078"}
    &.chevron-left:before {content:"\f053"}
    &.chevron-right:before {content:"\f054"}
    &.chevron-up:before {content:"\f077"}
  }
}

.toggled {
  .button {
    color: $ruckus-orange !important;
    border-color: $ruckus-orange !important;

    &.alt {
      background-color: #fff !important;
      border-color: #fff !important;
      color: black !important;
    }
  }
}



