body#entry-three {
  background-color: #000;
}
.full-screen {
  position: relative;

}

.ruckus-entry-3_background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px; left: 0px;
  display: block;
  z-index: -10;

  //&.background-1 {  background-image: url('../images/guide/guide-background-01.jpg');}
  //&.background-2 {  background-image: url('../images/guide/guide-background-02.jpg');}
  //&.background-3 {  background-image: url('../images/guide/guide-background-03.jpg');}
  //&.background-4 {  background-image: url('../images/guide/guide-background-04.jpg');}
  //&.background-5 {  background-image: url('../images/guide/guide-background-05.jpg');}
  //&.background-6 {  background-image: url('../images/guide/guide-background-06.jpg');}
  //&.background-7 {  background-image: url('../images/guide/guide-background-07.jpg');}
  //&.background-8 {  background-image: url('../images/guide/guide-background-08.jpg');}
  //&.background-9 {  background-image: url('../images/guide/guide-background-09.jpg');}
  &.background-10 {  background-image: url('../images/guide/guide-background-10.jpg');}
}

.columns, .column {
  .ruckus-entry-3_background {
    z-index: -5;
  }
  //background-image: url('../images/guide/guide-background-01.jpg');
}
