// navigation styles

header {
  nav {
    li {
      @include respond-to(small-only) {
        float: none !important;

      }
      a {
        -webkit-transition: background 0.22s ease-in;
        -moz-transition: background 0.22s ease-in;
        -ms-transition: background 0.22s ease-in;
        -o-transition: background 0.22s ease-in;
        transition: background 0.22s ease-in;
        border-radius: 3px;
        &:hover {
          background-color: $ruckus-white;
        }
      }
    }
  }
}

.navigation {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-bottom: 30px;
  bottom: -100px;
  opacity: 0;
}