.table-center-container {
  display: table !important;
  width: 100%;
}

.table-center-cell {
  display: table-cell !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.clear-both {
  clear:both;
}
.clear-left {
  clear:left;
}
.clear-right {
  clear:right;
}
.absolute {
  position: absolute;
  .top {
    top: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  .bottom {
    bottom: 0;
  }
}

.width-100 {
  width: 100%;
}

.padding-60-75 {
  padding: 60px 75px;
}

.padding-top-10 {
 padding-top: 10px;
}