.table-center-container {
  display: table !important;
  width: 100%;
}

.table-center-cell {
  display: table-cell !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.table-center-cell-small-only {
  @include respond-to(small-only){
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
  }
}
.table-center-cell-medium-only {
  @include respond-to(medium-only){
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle !important;
  }
}
.display-block {
  display: block !important;
}
.display-block-small {
  @include respond-to(small-only){
    display: block !important;
  }
}
.display-inline {
  display: inline !important;
}
.display-inline-block {
  display: inline-block !important;
}
.clear-none {
  clear: none !important;
}
.clear-both {
  clear:both;
}
.clear-left {
  clear:left;
}
.clear-right {
  clear:right;
}
.absolute {
  position: absolute;
  .top {
    top: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  .bottom {
    bottom: 0;
  }
}



.width-100 {
  width: 100%;
}

.width-100-small {
  @include respond-to(small-only) {
    width: 100%;
  }
}
.height-100-small {
  @include respond-to(small-only) {
    height: 100%;
  }
}

.padding-60-75 {
  padding: 60px 75px;
}
.padding-10-30-0-10 {
  padding: 10px 30px 0px 10px;
}
.no-padding-small {
  @include respond-to(small-only) {
    padding: 0px !important;
  }
}
.padding-top-10 {
 padding-top: 10px;
}
.padding-10 {
  padding: 10px;
}

.padding-25 {
  padding: 25px;
}
.padding-50 {
  padding: 50px;
}

.margin-center { margin: 0 auto; }
.margin-center-small { @include respond-to(small-only){margin: 0 auto; }}
