#mobile-momentum {
  #keep-up-moving {
    position: relative;
    margin: 0 auto;
    width: 225px;
    figcaption {
        position: absolute;
        top: 80px;
        left: 15%;
        width: 70%;
    }
  }

  .mm-icons {
    width: 75px;
    height: 75px;
    display: block;
    float: left;
  }
}