/* line 1, ../scss/background-images.scss */
body {
  background-color: transparent !important; }

/* line 5, ../scss/background-images.scss */
.tile {
  z-index: 10;
  opacity: 0;
  position: relative;
  overflow: hidden; }
/* line 10, ../scss/background-images.scss */
.tile .tile_background-wrapper {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }
/* line 18, ../scss/background-images.scss */
.tile .tile_background-wrapper .tile_background-position {
  position: relative;
  height: 100%;
  width: auto; }
/* line 23, ../scss/background-images.scss */
.tile .tile_background-wrapper .tile_background-overlay, .tile .tile_background-wrapper .tile_background {
  height: 100%; }
/* line 26, ../scss/background-images.scss */
.tile .tile_background-wrapper .tile_background-overlay {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6); }
/* line 33, ../scss/background-images.scss */
.tile .tile_background-wrapper .tile_background {
  position: relative;
  top: 0;
  left: 0;
  z-index: -30;
  background-size: cover; }
