/* line 2, ../scss/guide-background.scss */
.full-screen {
  position: relative; }

/* line 6, ../scss/guide-background.scss */
.ruckus-entry-3_background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: -10; }
/* line 16, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-1 {
  background-image: url("../images/guide/guide-background-01.jpg"); }
/* line 17, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-2 {
  background-image: url("../images/guide/guide-background-02.jpg"); }
/* line 18, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-3 {
  background-image: url("../images/guide/guide-background-03.jpg"); }
/* line 19, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-4 {
  background-image: url("../images/guide/guide-background-04.jpg"); }
/* line 20, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-5 {
  background-image: url("../images/guide/guide-background-05.jpg"); }
/* line 21, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-6 {
  background-image: url("../images/guide/guide-background-06.jpg"); }
/* line 22, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-7 {
  background-image: url("../images/guide/guide-background-07.jpg"); }
/* line 23, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-8 {
  background-image: url("../images/guide/guide-background-08.jpg"); }
/* line 24, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-9 {
  background-image: url("../images/guide/guide-background-09.jpg"); }
/* line 25, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-10 {
  background-image: url("../images/guide/guide-background-10.jpg"); }

/* line 29, ../scss/guide-background.scss */
.columns .ruckus-entry-3_background, .column .ruckus-entry-3_background {
  z-index: -5; }
