/* line 1, ../scss/guide-background.scss */
body#entry-three {
  background-color: #000; }

/* line 4, ../scss/guide-background.scss */
.full-screen {
  position: relative; }

/* line 9, ../scss/guide-background.scss */
.ruckus-entry-3_background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: -10; }
/* line 28, ../scss/guide-background.scss */
.ruckus-entry-3_background.background-10 {
  background-image: url("../images/guide/guide-background-10.jpg"); }

/* line 32, ../scss/guide-background.scss */
.columns .ruckus-entry-3_background, .column .ruckus-entry-3_background {
  z-index: -5; }
