/* line 1, ../scss/hamburgler.scss */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

/* line 5, ../scss/hamburgler.scss */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

/* line 12, ../scss/hamburgler.scss */
.mid-animate {
  opacity: 0; }

/* line 15, ../scss/hamburgler.scss */
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg); }

/* line 22, ../scss/hamburgler.scss */
.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

/* line 29, ../scss/hamburgler.scss */
.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

/* line 36, ../scss/hamburgler.scss */
.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530; }

/* line 43, ../scss/hamburgler.scss */
.menui {
  background: #fff;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

/* line 52, ../scss/hamburgler.scss */
.icon {
  z-index: 999;
  position: fixed;
  /*    background: rgba(0, 0, 0, 0.21);*/
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 0;
  left: 0; }

/* line 65, ../scss/hamburgler.scss */
.mobilenav {
  /*    top: 47px !important;*/
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); }

/* line 77, ../scss/hamburgler.scss */
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px; }

/* line 82, ../scss/hamburgler.scss */
.mobilenav li a {
  font-size: 150%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%; }

/* line 89, ../scss/hamburgler.scss */
.mobilenav li:first-child {
  margin-top: 60px; }
