/* line 1, ../scss/media.scss */
figure {
  padding: 0px;
  margin: 0px; }

/* line 8, ../scss/media.scss */
#entry-3 figcaption {
  text-align: center; }

/* line 13, ../scss/media.scss */
.mobile-with-text {
  position: relative;
  margin: 0 auto;
  width: 225px; }
/* line 17, ../scss/media.scss */
.mobile-with-text figcaption {
  position: absolute;
  top: 80px;
  left: 15%;
  width: 70%; }
