/* line 1, ../scss/slide.scss */
.slide-container {
  position: relative;
  height: 100%; }
/* line 4, ../scss/slide.scss */
.slide-container .slide {
  height: 100%;
  width: 100%;
  float: left;
  overflow: scroll; }
