/* line 2, ../scss/template-wifi-in-retail.scss */
.wifi-retail-fact .table-center-container {
  min-height: 200px; }
/* line 5, ../scss/template-wifi-in-retail.scss */
.wifi-retail-fact img {
  max-width: 200px;
  max-height: 200px; }
