/* line 27, ../scss/variables.scss */
.ruckus-orange {
  color: #EA7600 !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-grey {
  color: #75787B !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-orange {
  color: #EA7600 !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-green {
  color: #74aa50 !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-violet {
  color: #702082 !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-blue {
  color: #009CBD !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-gold {
  color: #B58500 !important;
}

/* line 27, ../scss/variables.scss */
.ruckus-red {
  color: #A4343A !important;
}
