/* line 32, ../scss/variables.scss */
.ruckus-orange {
  color: #EA7600 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-orange {
  background-color: #EA7600 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-orange.opacity-25 {
  background-color: rgba(234, 118, 0, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-orange.opacity-50 {
  background-color: rgba(234, 118, 0, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-orange.opacity-75 {
  background-color: rgba(234, 118, 0, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-grey {
  color: #75787B !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-grey {
  background-color: #75787B !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-grey.opacity-25 {
  background-color: rgba(117, 120, 123, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-grey.opacity-50 {
  background-color: rgba(117, 120, 123, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-grey.opacity-75 {
  background-color: rgba(117, 120, 123, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-orange {
  color: #EA7600 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-orange {
  background-color: #EA7600 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-orange.opacity-25 {
  background-color: rgba(234, 118, 0, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-orange.opacity-50 {
  background-color: rgba(234, 118, 0, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-orange.opacity-75 {
  background-color: rgba(234, 118, 0, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-green {
  color: #74aa50 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-green {
  background-color: #74aa50 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-green.opacity-25 {
  background-color: rgba(116, 170, 80, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-green.opacity-50 {
  background-color: rgba(116, 170, 80, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-green.opacity-75 {
  background-color: rgba(116, 170, 80, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-violet {
  color: #702082 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-violet {
  background-color: #702082 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-violet.opacity-25 {
  background-color: rgba(112, 32, 130, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-violet.opacity-50 {
  background-color: rgba(112, 32, 130, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-violet.opacity-75 {
  background-color: rgba(112, 32, 130, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-blue {
  color: #009CBD !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-blue {
  background-color: #009CBD !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-blue.opacity-25 {
  background-color: rgba(0, 156, 189, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-blue.opacity-50 {
  background-color: rgba(0, 156, 189, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-blue.opacity-75 {
  background-color: rgba(0, 156, 189, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-gold {
  color: #B58500 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-gold {
  background-color: #B58500 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-gold.opacity-25 {
  background-color: rgba(181, 133, 0, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-gold.opacity-50 {
  background-color: rgba(181, 133, 0, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-gold.opacity-75 {
  background-color: rgba(181, 133, 0, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-red {
  color: #A4343A !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-red {
  background-color: #A4343A !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-red.opacity-25 {
  background-color: rgba(164, 52, 58, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-red.opacity-50 {
  background-color: rgba(164, 52, 58, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-red.opacity-75 {
  background-color: rgba(164, 52, 58, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-white {
  color: #fff !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-white {
  background-color: #fff !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-white.opacity-25 {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-white.opacity-50 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-white.opacity-75 {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

/* line 32, ../scss/variables.scss */
.ruckus-black {
  color: #000 !important;
}

/* line 34, ../scss/variables.scss */
.ruckus-background-black {
  background-color: #000 !important;
}
/* line 36, ../scss/variables.scss */
.ruckus-background-black.opacity-25 {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
/* line 39, ../scss/variables.scss */
.ruckus-background-black.opacity-50 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* line 42, ../scss/variables.scss */
.ruckus-background-black.opacity-75 {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
