/* line 2, ../scss/zurb-grid-extension.scss */
.row.full-screen {
  max-width: 100% !important; }
/* line 17, ../scss/zurb-grid-extension.scss */
.row.full-screen > .large-12 > .row {
  padding-left: 10%;
  padding-right: 10%; }
